<div class="container">
  <div class="row">
    <div class="col s12 animated bounceInLeft">
      <div class="">
        <h1 class="light-blue-text text-darken-3"><b>Projects</b></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <a *ngFor="let project of projects; let i = index"
      class="card animated zoomIn faster col s10 offset-s1 m5 offset-m1 l5 offset-l1" href="{{project.link}}"
      target="_blank">
      <div class="card-content light-blue lighten-5 light-blue-text text-darken-3">
        <span class="card-title">
          <h5 class="project-title">
            {{project.name}}
            <span class="new badge light-blue darken-3 white-text hide-on-med-and-down" data-badge-caption=""><i
                class="fa fa-hashtag" aria-hidden="true"></i>{{ project.tag }}</span>
          </h5>
        </span>
        <p class="project-description flow-text">{{ project.description }}</p>
      </div>
    </a>
  </div>
</div>