<div class="container">
  <div class="row">
    <h1 class="light-blue-text text-darken-3 animated bounceInLeft">
      <b>Projects</b>
    </h1>
    <!-- <div class="project-buttons">
      <ul class="tabs animated fadeInUp faster delay-0s">
        <li class="tab col s3 m3 l6">
          <a class="light-blue-text text-darken-3" (click)="tabOption = 1"><i class="fa fa-star" aria-hidden="true"></i>
            starred</a>
        </li>
        <li class="tab col s3 m3 l6">
          <a class="light-blue-text text-darken-3" (click)="tabOption = 0"><i class="fa fa-github"
              aria-hidden="true"></i> github</a>
        </li>
        <li class="tab col s3 m3 l6">
          <a class="light-blue-text text-darken-3" (click)="tabOption = 2"><i class="fa fa-gamepad"
              aria-hidden="true"></i> others</a>
        </li>
      </ul>
    </div> -->
  </div>
  <div
    *ngIf="tabOption === 0 && githubProjects.length > 0; else elseBlock"
    id="starred-projects"
    class="row"
  >
    <a
      *ngFor="let project of githubProjects; let i = index"
      class="card animated zoomIn faster col s10 offset-s1 m5 l5"
      [ngClass]="{ 'offset-l2': i % 2 !== 0, 'offset-m2': i % 2 !== 0 }"
      href="{{ project.html_url }}"
      target="_blank"
    >
      <div
        class="card-content light-blue lighten-5 light-blue-text text-darken-3"
      >
        <span class="card-title">
          <div class="card-title-content">
            <h5 class="project-title">{{ project.name }}</h5>
            <span
              *ngIf="project.language"
              class="new badge light-blue darken-3 white-text hide-on-med-and-down"
              data-badge-caption=""
              ><i class="fa fa-code" aria-hidden="true"></i
              >{{ project.language }}</span
            >
          </div>
        </span>
        <p class="project-description flow-text">{{ project.description }}</p>
      </div>
    </a>
  </div>
  <ng-template #elseBlock>
    <div class="card-panel">
      <p class="not-found-title">projects not found</p>
    </div>
  </ng-template>
  <!-- <div *ngIf="tabOption === 1" id="github-projects" class="row">
    <a *ngFor="let project of starredProjects; let i = index"
      class="card animated zoomIn faster col s10 offset-s1 m5 offset-m1 l5" [ngClass]="{ 'offset-l2': i % 2 !== 0 }"
      href="{{ project.link }}" target="_blank">
      <div class="card-content light-blue lighten-5 light-blue-text text-darken-3">
        <span class="card-title">
          <h5 class="project-title">
            {{ project.name }}
            <span class="new badge light-blue darken-3 white-text hide-on-med-and-down" data-badge-caption=""><i
                class="fa fa-code" aria-hidden="true"></i>{{ project.tag }}</span>
          </h5>
        </span>
        <p class="project-description flow-text">{{ project.description }}</p>
      </div>
    </a>
  </div> -->
  <!-- <div *ngIf="tabOption === 2" id="others" class="row">
    <a *ngFor="let project of githubProjects; let i = index"
      class="card animated zoomIn faster col s10 offset-s1 m4 offset-m1 l5" [ngClass]="{ 'offset-l2': i % 2 !== 0 }"
      href="{{ project.html_url }}" target="_blank">
      <div class="card-content light-blue lighten-5 light-blue-text text-darken-3">
        <span class="card-title">
          <h5 class="project-title">
            {{ project.name }}
            <span *ngIf="project.language" class="new badge light-blue darken-3 white-text hide-on-med-and-down"
              data-badge-caption=""><i class="fa fa-code" aria-hidden="true"></i>{{ project.language }}</span>
          </h5>
        </span>
        <p class="project-description flow-text">{{ project.description }}</p>
      </div>
    </a>
  </div> -->
</div>
