.project-title {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  place-content: space-between;
  margin: 0;
}
.project-description {
  font-size: 1rem;
  font-style: italic;
}
@media (min-width: 1024px) {
  .card-content:hover {
    transform: translate(0.75rem, 0.75rem);
  }
}
.card-content {
  transition: all 150ms ease-in-out !important;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  background-color: var(--color-primary) !important;
  border-radius: 0;
  padding: 0;
}
.card-title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.badge {
  display: flex;
  align-items: center;
  min-width: auto;
}
.badge i {
  margin-right: 0.25rem;
}
span.badge.new {
  border-radius: 20px;
  padding: 0 0.5rem;
}
.tabs li a {
  font-weight: bold;
  transition: 150ms all ease-in-out;
  color: var(--color-primary) !important;
  background-color: var(--color-secondary) !important;
}
span.badge.new {
  text-transform: lowercase;
}
.tab a {
  cursor: pointer;
}
.card-panel {
  background-color: var(--color-secondary);
}
.card-panel .not-found-title {
  text-align: center;
  font-style: italic;
  color: var(--color-primary);
}
