.project-title{
  font-size:1.75rem;
  font-weight: 400;
}
.project-description{
  font-size: 1.25rem;
}
.card-content:hover{
  transform: translate(0.75rem,0.75rem);
}
.card-content{
  transition: transform 150ms ease-in-out!important;
}
.card{
  background-color: #0277bd!important;
  border-radius: 0;
  padding: 0;
}