.card-panel {
  transition: transform 150ms ease-in-out !important;
  margin: 0;
  border-radius: 0;
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
}
.card-panel i {
  text-align: center;
}
.card-link {
  background-color: var(--color-primary) !important;
  border-radius: 0;
  padding: 0;
  margin: 1rem 0;
  border-left: 6px solid var(--color-primary);
}
@media (min-width: 1024px) {
  .card-panel:hover {
    transform: translate(0.75rem, 0);
  }
}
