.left-align-text {
  text-align: left;
}
.collapsible {
  background-color: var(--color-transparent);
  border: 0px solid var(--color-primary) !important;
  li {
    margin-bottom: 1rem;
    background-color: var(--color-primary);
  }
}
.collapsible-body {
  border-bottom: none;
  background: var(--color-secondary);
}
.collapsible-header {
  background-color: var(--color-secondary);
  border-top: 0px solid var(--color-transparent) !important;
  border-bottom: 0px solid var(--color-transparent) !important;
  transition: all 150ms ease-in-out;
}
@media (min-width: 1024px) {
  .collapsible-header:hover {
    transform: translate(0.75rem, 0rem);
  }
}
.collapsible-header--shown {
  display: block;
}
td a {
  text-decoration: none;
}
tr {
  border-bottom: 2px solid rgba(2, 119, 189, 0.25);
}
tr:last-child {
  border-bottom: none;
}
td a:hover {
  text-decoration: underline;
}
.container .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0;
}
#description {
  margin-bottom: 0px !important;
}
#downloadButton:hover {
  transform: translate(0.75rem, 0rem);
}
#downloadButton {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  transition: transform 150ms ease-in-out !important;
  justify-content: center;
  margin-bottom: 1rem;
  border-left: 6px solid var(--color-primary);
  font-weight: 700;
}
.card-link {
  background-color: var(--color-primary) !important;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  margin-bottom: 2rem;
}
.profile-img {
  margin-bottom: 2rem;
}
