<div class="container">
  <div class="row">
    <div class="col s12 animated bounceInLeft">
      <div class="">
        <h1 class="light-blue-text text-darken-3"><b>About me</b></h1>
      </div>
    </div>
  </div>
  <ul materialize="collapsible" class="collapsible animated zoomIn faster" data-collapsible="expandable">
    <!-- DESCRIPTION -->
    <li>
      <div class="collapsible-header light-blue-text text-darken-3">
        <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
        <b>DESCRIPTION</b>
      </div>
      <div id="description" class="collapsible-body row">
        <div class="col s6 offset-s3 m4 l2">
          <img src="../assets/dgm_profile.png" alt="david gimeno profile" class="circle responsive-img" style="background-color: white;">
        </div>
        <div class="col s12 m8 l10">
          <span class="flow-text light-blue-text text-darken-3">Multimedia engineer with extensive practical experience in web and graphic design, 3D modelling, videogame developing on Unity and additional multimedia projects.<br>Open to new computing environments and programming languages. I consider myself organised, punctual and a perfectionist who does not lack creativity. I look forward to new challenges which allow me to learn how to resolve situations more efficiently.</span>
        </div>
      </div>
    </li>
    <!-- EDUCATION -->
    <li>
      <div class="collapsible-header light-blue-text text-darken-3">
        <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
        <b>EDUCATION</b>
      </div>
      <div class="collapsible-body">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let e of education">
              <td class="light-blue-text text-darken-3">{{ e.field_1}}</td>
              <td><i>{{ e.field_3 }}</i></td>
              <td><a class="black-text" href="{{ e.href}}" target="_blank">{{ e.field_2}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <!-- WORKING EXPERIENCE -->
    <li>
      <div class="collapsible-header light-blue-text text-darken-3">
        <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
        <b>WORKING EXPERIENCE</b>
      </div>
      <div class="collapsible-body">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let work of works">
              <td class="light-blue-text text-darken-3">{{ work.field_1}}</td>
              <td><i>{{ work.field_3 }}</i></td>
              <td><a class="black-text" href="{{ work.href}}" target="_blank">{{ work.field_2}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <!-- RECENT PROJECTS -->
    <li>
      <div class="collapsible-header light-blue-text text-darken-3">
        <i class="fa fa-folder-open fa-lg" aria-hidden="true"></i>
        <b>RECENT PROJECTS</b>
      </div>
      <div class="collapsible-body">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let p of projects">
              <td><a class="light-blue-text text-darken-3" href="{{ p.link}}" target="_blank">{{ p.name}}</a></td>
              <!-- <td><i>{{ p.date }}</i></td> -->
              <td>{{ p.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <!-- LANGUAGES -->
    <li>
      <div class="collapsible-header light-blue-text text-darken-3">
        <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
        <b>LANGUAGES</b>
      </div>
      <div class="collapsible-body">
        <table class="flow-text">
          <tbody>
            <tr *ngFor="let lang of languages">
              <td class="light-blue-text text-darken-3">{{ lang.field_1 }}</td>
              <td>{{ lang.field_2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
  <div class="right animated zoomIn faster delay-1s">
    <a id="downloadButton" class="waves-effect waves-light btn-large light-blue-text text-darken-3 center" href="https://www.dropbox.com/s/98yxx8t16zxz0p4/CV_David_Gimeno_Ma%C3%B1e_21062019.png?raw=1" target="_blank" download><i class="fa fa-file-text-o fa-pull-left" aria-hidden="true"></i><b> View C.V.</b></a>
  </div>
</div>
