<div class="container">
  <div class="row">
    <div class="col s12 animated bounceInLeft">
      <div class="">
        <h1 class="light-blue-text text-darken-3"><b>Projects</b></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let project of allprojects; let i = index" class="card light-blue lighten-5 animated zoomIn faster col s10 offset-s1 m5 offset-m1 l5 offset-l1">
      <div class="card-content light-blue-text text-darken-3">
        <span class="card-title ">
          <h5>
            <span class="new badge light-blue darken-3 white-text hide-on-med-and-down" data-badge-caption="">{{ project.tag }}</span>
            {{project.name}}
          </h5>
        </span>
        <p class="flow-text">{{ project.description }}</p>
      </div>
      <div class="card-action center-align">
        <a class="light-blue-text text-darken-3 waves-effect" href="{{project.link}}" target="_blank">
          <i class="material-icons right">open_in_new</i>open project
        </a>
      </div>
    </div>
  </div>
</div>