.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rsp {
  min-width: 100%;
  width: 150%;
  opacity: 0.15;
  z-index: -1;
}
.sublink:hover {
  color: var(--color-pure-white) !important;
  background-color: var(--color-primary) !important;
}
.sublink {
  transition: all 150ms ease-in-out;
  padding: 1rem 2rem;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}
.link-container {
  display: flex;
  justify-content: space-around;
}
