<div class="animated fadeIn slow">
  <img class="rsp centered" src="assets/dgm_background.png" />
  <div class="centered center">
    <h1 class="light-blue-text text-darken-3 animated tada delay-1s">Hello there,<br />I'm {{ titleName }}.</h1>
    <div class="link-container">
      <div class="light-blue-text text-darken-3 flow-text animated jello delay-3s fast">
        <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/about">/About</a>
      </div>
      <div class="light-blue-text text-darken-3 flow-text animated jello delay-4s fast">
        <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/projects">/Projects</a>
      </div>
      <div class="light-blue-text text-darken-3 flow-text animated jello delay-5s fast">
        <a class="sublink light-blue-text text-darken-3" href="#" routerLink="/contact">/Contact</a>
      </div>
    </div>
  </div>
</div>
