<div class="navbar-fixed">
  <nav *ngIf="route !== '/'" class="z-depth-0 white animated slideInDown delay-1s">
    <div id="navbar" class="nav-wrapper">
      <a routerLink="/" class="brand-logo">
        <img src="assets/dgm_icon.png" />
      </a>
      <ul class="right">
        <li *ngFor="let link of links" [ngClass]="route === link.url ? 'active' : ' '">
          <a class="light-blue-text text-darken-3 hide-on-med-and-down" routerLink="{{ link.url }}">{{ link.title }}</a>
          <a class="light-blue-text text-darken-3 hide-on-large-only" routerLink="{{ link.url }}">
            <i class="material-icons light-blue-text text-darken-3">{{ link.icon }}</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
