.brand-logo img {
  height: 2rem;
}
.brand-logo {
  display: flex !important;
  align-items: center;
  margin: 0 2%;
}
.brand-logo {
  display: inline-block;
  height: 100%;
}
.brand-logo img:hover {
  opacity: 0.65;
}
nav ul li {
  transition: all 150ms ease-in-out;
  margin: 0 0.5rem;
  background-color: transparent !important;
}
nav ul li:last-child {
  margin-right: 1rem;
}
nav ul li a {
  font-weight: 400;
  font-size: 1.2rem;
  font-weight: bold !important;
}
nav ul li.active a {
  box-shadow: inset 0 -5px 0 var(--color-primary);
}
nav ul li a:hover {
  background-color: transparent !important;
}
#navbar {
  background: var(--color-secondary);
}
.side-nav {
  background-color: var(--color-secondary);
  width: 15rem;
}
.side-nav li {
  text-align: center;
  margin: 1rem 0;
}
