.brand-logo img {
  height: 2rem;
  vertical-align: middle;
  transition: all 150ms ease-in-out;
}
.brand-logo {
  display: inline-block;
  height: 100%;
}
.brand-logo img:hover {
  transform: scale(1.1)!important;
}
nav ul a {
  background-color: white;
  transition: all 250ms ease-in-out;
}
.active{
  font-weight:bolder;
}
nav ul li {
  transition: all 150ms ease-in-out;
  margin: 0 0.5rem;
}
nav ul li:last-child {
  margin-right: 1rem;
}
nav ul li.active {
  background-color: transparent;
  transform: translate(0,1.5em)!important;
}
nav ul li.active a{
  font-weight: bold!important;
}
nav ul li a{
  font-size: 1.2rem;
  font-weight: 400;
}