:root {
  --color-primary: #0277bd;
  --color-secondary: #e1f5fe;
  --color-tertiary: white;
  --color-pure-white: white;
  --color-transparent: transparent;
}
html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: var(--color-secondary); */
}
body {
  font-family: 'Rubik', sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
.card-panel,
.card,
.collapsible {
  box-shadow: none !important;
}
.indicator {
  border-bottom: 5px solid var(--color-primary);
}
