.brand-logo {
  display: flex !important;
  align-items: center;
  height: 100%;
  margin: 0 2%;
  img {
    height: 2rem;
    transition: all 150ms ease-in-out;
    &:hover {
      transform: translate(0.75rem, 0rem);
    }
  }
}
nav ul li {
  transition: all 150ms ease-in-out;
  margin: 0;
  background-color: transparent !important;
}
nav ul li a {
  font-weight: 400;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 2rem;
  box-shadow: inset 0 0 0 0 var(--color-secondary);
  transition: all 250ms;
}
nav ul li.active a {
  box-shadow: inset 0 0 0 6px var(--color-secondary);
}
nav ul li a:hover {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 6px var(--color-secondary);
}
#navbar {
  background: var(--color-primary);
}
.side-nav {
  background-color: var(--color-primary);
  width: 15rem;
  li {
    text-align: center;
    margin: 1rem 0;
  }
}
